<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check the domain!</title>
  <style>
    body {
    background-color: rgb(228, 237, 232);
    }

    .header {
    font-size: 40px;
    }

  </style>
</head>
<body>
<script src="/home/miade/wps_show_dom.png"></script>
<div style="text-align:center; color: white;background-color:rgb(22,8,90);">
   <p class="header" > WRF-Online</p>
  </div>
<center>
<p>Please Check the Domain:</p>
<div>
   <img src="/static/wps_show_dom.png" alt="wpsdomain" style="width:30%">
</div>
    <form method="post" action="http://127.0.0.1:5000/wrf">
        <input value="Contunie"
               type="submit"
               name="domaincheck"
               id="domaincheck">

    </form>


</center>
</body>
</html>