<!DOCTYPE html>
<html>
<head>



</head>
  <body>
  <div style="text-align:center; color: white;background-color:blue;">
   <h5> WRF Online</h5>
  </div>
    <form method="post" action="http://127.0.0.1:5000/" >
      <center>
        <table>
          <tbody>
            <tr><p>start-date&nbsp &nbsp<input type="text"
                                             id="start-date"
                                             name="start-date"></tr></p>
            <br>
            <br>
            <tr><p>Sayi gir&nbsp &nbsp<input type="text"></tr></p>
            <br>
            <br>
            <tr><p>Sayi gir&nbsp &nbsp<input type="text"></tr></p>
            <input type="submit">
          </tbody>
        </table>

      </center>




    </form>
  </body>
</html>
