<!DOCTYPE html>
<html>
<head>
  <style>
    body {
    background-color: beige;
    }

    .header {
    font-size: 40px;
    }
  </style>

</head>
  <body>
  <div style="text-align:center; color: white;background-color:blue;">
   <p class="header" > WRF-Online</p>
  </div>
    <form method="post" action="http://127.0.0.1:5000/" >
      <center>
        <h3>Unpack input GRIB data</h3>
        <table>

          <tbody>

            <tr>Start Date &nbsp &nbsp<input type="text"
                                             id="start_date"
                                             name="start_date"></tr>
            <br>
            <br>
            <tr>End Date&nbsp &nbsp<input type="text"
                                          id="end_date"
                                          name="end_date"></tr>
            <br>
            <br>
            <tr>Interval seconds &nbsp &nbsp<input type="text"
                                                    id="interval_seconds"
                                                    name="interval_seconds"></tr>
            <br>
            <br>
             <tr><input value="Run ungrib.exe" type="submit"
                                                name="ungrib.exe"
                                                id="ungrib.exe" ></tr>
          </tbody>
        </table>


      </center>




    </form>
  </body>
</html>
