<!DOCTYPE html>
<html>
<head>
  <title>WRF-Online</title>
  <style>
    body {
    background-color: rgb(228, 237, 232);
    }

    .header {
    font-size: 40px;
    }

  </style>

</head>
  <body>
  <div style="text-align:center; color: white;background-color:rgb(22,8,90);">
   <p class="header" > WRF-Online</p>
  </div>
    <form method="post" action="http://127.0.0.1:5000/" >
      <center>
        <h3>Unpack input GRIB data</h3>
        <table>

          <tbody>

            <tr>Start Date &nbsp &nbsp &nbsp &nbsp<input type="text"
                                             id="start_date"
                                             name="start_date"
                                             value="2022-01-25_00:00:00">(yyyy-mm-dd_HH:mm:ss)</tr>
            <br>
            <br>
            <tr>End Date &nbsp &nbsp &nbsp &nbsp &nbsp<input type="text"
                                          id="end_date"
                                          name="end_date"
                                          value="2022-01-25_06:00:00"> (yyyy-mm-dd_HH:mm:ss) </tr>
            <br>
            <br>
            <tr>Interval seconds &nbsp &nbsp &nbsp <input type="text"
                                                    id="interval_seconds"
                                                    name="interval_seconds"
                                                    value="21600"> (Please enter in seconds)</tr>
            <br>
            <br>
             <tr><input value="Run ungrib.exe" type="submit"
                                                name="ungrib.exe"
                                                id="ungrib.exe" ></tr>
            <br>
            <br>
          <p> <em> NOTE : Be sure you enter the dates in the specified formats and <br>
            if you want to download extra data for different interval seconds, <br>
            come back to this page and enter a different interval.</em></p>
          </tbody>
        </table>



      </center>




    </form>

  <footer>

  <div align="center"><img style="width:10%;padding-top:5%;" src="/static/itulogo.png" alt="logo"></div>
  </footer>
  </body>
</html>
