<!DOCTYPE html>
<html>
<head>
  <style>
    body {
    background-color: beige;
    }

    .header {
    font-size: 40px;
    }
  </style>

</head>
  <body>
  <div style="text-align:center; color: white;background-color:blue;">
   <p class="header" > WRF-Online</p>
  </div>
    <form method="post" action="http://127.0.0.1:5000/wps/wrf/output" >
      <center>
        <h3>Set up the model domain</h3>
        <table>

          <tbody>

            <tr>x-direction &nbsp &nbsp<input type="text"
                                             id="e_we"
                                             name="e_we"></tr>
            <br>
            <br>
            <tr>y-direction&nbsp &nbsp<input type="text"
                                          id="e_sn"
                                          name="e_sn"></tr>
            <br>
            <br>
            <tr>dx &nbsp &nbsp<input type="text"
                                     id="dx"
                                     name="dx"></tr>
            <br>
            <br>
            <tr>dy &nbsp &nbsp<input type="text"
                                     id="dy"
                                     name="dy"></tr>
            <br>
            <br>

            <tr>ref_lat &nbsp &nbsp<input type="text"
                                          id="ref_lat "
                                          name="ref_lat "></tr>
            <br>
            <br>
            <tr>ref_lon &nbsp &nbsp<input type="text"
                                          id="ref_lon"
                                          name="ref_lon"></tr>
            <br>
            <br>
            <tr>truelat1 &nbsp&nbsp<input type="text"
                                           id="truelat1 "
                                           name="truelat1 "></tr>
            <br>
            <br>
            <tr>truelat2 &nbsp &nbsp<input type="text"
                                           id="truelat2"
                                           name="truelat2"></tr>
            <br>
            <br>
            <tr>stand_lon &nbsp &nbsp<input type="text"
                                                    id="stand_lon"
                                                    name="stand_lon"></tr>
            <br>
            <br>
             <tr><input value="Run geogrid.exe and then metgrid.exe" type="submit"
                                                name="geogrid.exe"
                                                id="geogrid.exe" ></tr>
          </tbody>
        </table>


      </center>




    </form>
  </body>
</html>
